<h1>Notable Premier League Players</h1>

<a href="/players/new">Add New Player</a> <br>
<div> 
    {{#each players}}
    <form>
      <a href="/players/{{_id}}">{{name}}</a>
    </form>
    {{/each}}
</div>

