<h1>Notable Premier League Players</h1>

<div> 
    {{#each players}}
    <form>
      <a href="/players/{{_id}}">{{name}}</a>
    </form>
    {{/each}}
</div>

<a href="/players/new">New Player</a> <br>

<a href="/home">Home</a>
