<h1>ADD TEAM INFORMATION</h1>
<P>Please add new team information in the input field below.</P>

<form method="POST" action="/teams">

    <label for="name">Name</label>
    <input type="text" name="name"/>

    <label for="coach">Coach</label>
    <input type="text" name="coach"/>

    <label for="stadium">Stadium</label>
    <input type="text"  name="stadium"/>

    <label for="trophies">Trophies Won</label>
    <input type="number" name="trophies">


    <input type="submit" value="Create Team" />
</form>