<form method="POST" action="/{{user._id}}/teams">

    <label for="name">Name</label>
    <input type="text" name="name"/>

    <label for="league">League</label>
    <input type="text" name="league"/>

    <label for="country">Country</label>
    <input type="text"  name="country"/>


    <input type="submit" value="Create Team" />
</form>