<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoccerMob</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/style.css">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo">🏠 SoccerMob</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/teams/">TEAMS</a></li>
          <li><a href="/players/">PLAYERS</a></li>
          <li><a href="/stadiums/">STADIUMS</a></li>
        </ul>
      </div>
    </nav>
  </div>
</head>

<body>
  <div class="parallax1"></div>
  <div class="container">
    <!--
      This is a place holder for the contents of the .hbs file that is
      rendered.
    -->
    {{{body}}}
  </div>
  <div class="parallax2"></div>
  <footer class="page-footer">

    <div class="footer-copyright">
      <div class=" container">
        <a  class="grey-text text-lighten-4 left" href="https://www.premierleague.com/" target="_blank"><img src="/images/leauge log.png" style="width:60px; height:60px"
            title="League Logo" alt="Premier League Home Page"></a>

        <a class="grey-text text-lighten-4 right" href="https://www.premierleague.com/tables" target="_blank">TABLE</a>
        <a class="grey-text text-lighten-4 right" href="https://www.premierleague.com/news" target="_blank">NEWS</a>
        <a class="grey-text text-lighten-4 right" href="https://www.premierleague.com/fixtures" target="_blank">FIXTURES</a>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>