<div>
    
    <p>Name: </p> {{sport.name}}
    <p>Location: </p>{{sport.location}}
</div>

<a href="/sports/{{sport._id}}/editSport">Edit Sport</a> 

<form method="POST" and action="/sports/{{sport._id}}?_method=DELETE">
   <input type="submit" value="Delete Sport"/>
</form>