<h1>All Stadiums</h1>



<ul> 
    {{#each stadiums}}
    <li>
      <a href="/stadiums/{{_id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>


<a href="/stadiums/new">New Stadium</a> <br>

<a href="/home">Home</a>