<form method="POST" action="/stadiums">

    <label for="name">Name</label>
    <input type="text" name="name"/>

    <label for="location">Location</label>
    <input type="text" name="location"/>

    <label for="seats">Number Of Seats</label>
    <input type="number" name="seats"/>


    <input type="submit" value="Create Stadium" />
</form>