p {
    font-size: 25px
}

a, label,input, li {
    font-size: 25px
}
body, html {
    height: 80%;
  }

  .parallax1 {
    background-image: url("images/background.jpg");
    height: 90%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
  }

.parallax2 {
    background-image: url("images/parallax1.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
  }
  
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }