p {
    font-size: 40px
}
.parallax1 {
    /* The image used */
    background-image: url("images/parallax1.jpg");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  .parallax2 {
    /* The image used */
    background-image: url("images/parallax2.jpeg");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }