<h1>ENGLISH PREMIER LEAGUE</h1>


<p>Welcome to the English Premier League, also known as the EPL. The history of the premier league goes back to 1992, when
the Football League First Division to break away from the Football League, founded in 1888,
and take advantage of a lucrative television rights deal.</p>

<p>The English Premier League is mostly considered as the most competitive soccer tournmanet in the world, with a total of
<a href="/teams/">fourty-nine</a> different clubs having participated since its inception. Six of them have won the
title since then: Manchester United (13),
Chelsea (5), Manchester City (4), Arsenal (3), Blackburn Rovers (1),
and Leicester City (1). The record of most points in a Premier League season is 100, set by Manchester City in 2017–18.</p>

<p>Some notable <a href="/players/">players</a> have played in the EPL, including the like of Cristiano Ronaldo,
Eden Hazard, George Best, Theirry Henry, Wayne Rooney, Fernando Torres.</p>

<p>For a list of all stadiums currently in use in the EPL, click <a href="/stadiums/">here</a></p>
